*,
*::after,
*::before {
	box-sizing: border-box;
}


.landing{
	display:flex;
	align-items:center;
	justify-content:space-between;
	margin:auto;
	margin-top:10rem;
	width:80%;
	
}

img{
	width:100%;
}

button{
	width:8rem;
	height:4rem;
}

.buttons{
	gap:2rem;
}

.landing-img{
	width:30rem;
	height:30rem
}

.home{
	max-width:80%;
	margin-left:10%;
}