*,
*::after,
*::before {
	box-sizing: border-box;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgb(12, 1, 51);
	padding: 1.5rem;
}

.logo {
	font-weight: 800;
	font-size: 2em;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 1.5rem;
	gap: 5px;
	font-size: 1.5rem;
}

input {
	border: none;
	border-radius: 1.5rem;
	padding: 5px 5px;
	width: 25rem;
}

input:focus {
	outline: none;
}

.search-button {
	cursor: pointer;
}

.login {
	border: 1px solid rgba(250, 250, 250, 0.7);
	padding: 0.5rem 1rem;
	border-radius: 1.5rem;
	transition: any 0.3s;
}

.login:hover {
	cursor: pointer;
	color: rgb(12, 1, 51);
	background-color: rgb(250, 250, 250);
}
